<header id="header" class="header">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12">
                <!-- <div class="header-cont clearfix customHeader"> -->
                <div class="header-cont clearfix">
                    <a href="#" class="logo"> <img src="assets/images/logo.png" alt=""/> <i class="fa fa-heart"> </i> </a>
                    <!-- <span class="covidHeader">Get your covid-19 vaccine</span> -->
                    <nav>
                        <button class="home-menu"  type="button">
                            <span class="icon-bar"> </span>
                            <span class="icon-bar"> </span>
                            <span class="icon-bar"> </span>
                        </button>
                        <ul class="navigation clearfix">
                        <li class="active">
                            <a  href="#">HOME</a>
                        </li>
                        <li>
                            <a routerLink="/home" data-id="#couple">COUPLE</a>
                        </li>
                        <!-- <li>
                            <a href="#" data-id="#our-story">OUR STORY</a>
                        </li> -->
                        <li>
                            <a routerLink="/home" href="#" data-id="#event">EVENTS</a>
                        </li>
                        <li>
                            <a routerLink="/home" data-id="#rsvp">RSVP</a>
                        </li>
                        <!-- <li>
                            <a href="blog.html">BLOG</a>
                        </li>
                        <li>
                            <a href="#">pages</a>
                            <ul class="drop-down">
                            <li>
                                <a href="event.html">Event</a>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>
                            </li>
                            <li>
                                <a href="blog-detail-page.html">Blog-Detail</a>
                            </li>
                            <li>
                                <a href="travel-info.html">Travel-Info</a>
                            </li>
                            <li>
                                <a href="404-page.html">404</a>
                            </li>
                            </ul>
                        </li> -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>