<div id="content" class="guestListContent">
    

    <table>
        <thead>
            <tr>
                <th id="firstName">First Name</th>
                <th id="lastName">Last Name</th>
                <th id="code">Invitation Code</th>
                <th id="guest">Guest #</th>
                <th id="confirmed">RSVP Confirmed</th>
                <th id="iSangeet">Invited to Sangeet</th>
                <th id="iWedding">Invited to Wedding</th>
                <th id="iReception">Invited to Reception</th>
                <th id="Sangeet">Sangeet #</th>
                <th id="Wedding">Wedding #</th>
                <th id="Reception">Reception #</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let guest of guestList">
                <td *ngFor="let key of columnsDataName">
                    {{ getValue(guest[key])}}
                </td>
            </tr>
            <tr>
                <td>Total</td>
                <td>-</td>
                <td>-</td>
                <td>{{totalGuest}}</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>{{totalSangeet}}</td>
                <td>{{totalWedding}}</td>
                <td>{{totalReception}}</td>
            </tr>
        </tbody>
    </table>

</div>