<app-banner></app-banner> 
<div id="content">
    <!-- happy couple section start here -->
    <section class="happy-couple" id="couple">
        <div class="container">
            <div class="row">
            <div class="col-xs-12">
                <div class="header-center">
                    <h2>happy couple</h2>
                </div>

                <div class="row" style="margin: 0; padding: 0; margin-bottom: 20px;">
                    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6" style="margin: 0; padding: 0;">
                        <div class="bell">
                            <img src="assets/images/drashti.png" alt="" style=" border-radius: 5px; -webkit-box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.75);
                            -moz-box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.75);
                            box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.75);" >
                            <div class="inner-header-wrapper-left inner-header-wrapper">
                                <h3><a href="#">Drashti Patel</a></h3>
                                <p>
                                    She is gujju and majored in computer science, that's like the best I can ask for. 
                                    She is very kind, deterministic and full of courage. 
                                    Though she has sweet tooth but she is the biggest fan of spicy food.
                                </p>
                                <img class="cycles" src="assets/external/images/cycle-1.png" alt="">
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6" style="margin: 0; padding: 0;">
                        <div class="jack">
                            <img src="assets/images/brijesh.png" alt="" style=" border-radius: 5px; -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
                            -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
                            box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);">
                            <div class="inner-header-wrapper-right inner-header-wrapper">
                                <h3><a href="#">Brijesh Patel</a></h3>
                                <p>
                                    He is very patient, smart and always have positive outlook. 
                                    He watches Harry potter at least twice a month and still don't get bored. 
                                    He loves hiking, photography and games. &nbsp;&nbsp;&nbsp;
                                </p>
                                <img class="cycles" src="assets/external/images/cycle-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row" tyle="margin: 0; padding: 0;">
                        <div class="video" style="max-width: 500px; max-height: 400px;">
                            <video class="col-xs-6 col-md-6 col-sm-6 col-lg-6" controls (click)="toggleVideo()" #videoPlayer style="width: 100%; height: 100%;">
                                <source src="assets/videos/preweddingteaser.mp4" type="video/mp4" />
                                Browser not supported
                            </video>
                        </div>
                </div> -->

                

                <style>
                .iframe-container {
                    overflow: hidden;
                    padding-top: 56.25%;
                    position: relative;
                  }
                   
                  .iframe-container iframe {
                     border: 0;
                     height: 100%;
                     left: 0;
                     position: absolute;
                     top: 0;
                     width: 100%;
                  }
                   
                  /* 4x3 Aspect Ratio */
                  .iframe-container-4x3 {
                    padding-top: 75%;
                  }</style>
                <div class="row">
                    <div class="col-sm-12  col-md-6 col-lg-6">
                        <div class="header-center" style="margin-bottom: 30px;">
                            <h2>Pre Wedding Teaser</h2>
                        </div>
                        <div class="iframe-container" style="box-shadow: 5px 5px 5px #888888;">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/v-NX5Tjz-_M" frameBorder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="header-center" style="margin-bottom: 30px;">
                            <h2>Pre Wedding</h2>
                        </div>
                        <div class="iframe-container" style="box-shadow: 5px 5px 5px #888888;">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/TlUr7eIdOek" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <!-- <div class="bell">
                    <img src="assets/images/drashti.png" alt="" style=" border-radius: 5px; -webkit-box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.75);
                    box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.75);" >
                    <div class="inner-header-wrapper-left inner-header-wrapper">
                        <h3><a href="#">Drashti Patel</a></h3>
                        <p>
                            She is gujju and majored in computer science, that's like the best I can ask for. She is very kind, deterministic and full of courage. Though she has sweet tooth but she has bigger fetish for spicy food.
                        </p>
                        <img class="cycles" src="assets/external/images/cycle-1.png" alt="">
                    </div>
                </div>
                <div class="jack">
                    <img src="assets/images/brijesh.png" alt="" style=" border-radius: 5px; -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
                    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);">
                    <div class="inner-header-wrapper-right inner-header-wrapper">
                        <h3><a href="#">Brijesh Patel</a></h3>
                        <p>
                            To be Edited.<br><br><br><br>
                        </p>
                        <img class="cycles" src="assets/external/images/cycle-2.png" alt="">
                    </div>
                </div> -->
            </div>
            </div>
        </div>
    </section>
    <!--happy couple section end here -->
    <!--Count-down section start here -->
    <div class="count-down">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="clearfix" id="countdown">
                        <!-- Countdown is configured from site.js using #countdown -->
                        <li>
                            <a href="#">250<span>Days</span></a>
                        </li>
                        <li>
                            <a href="#">00<span>Hours</span></a>
                        </li>
                        <li>
                            <a href="#">00<span>Minutes</span></a>
                        </li>
                        <li>
                            <a href="#">00<span>Seconds</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Count-down section end here -->
    <!-- Events -->
    <section class="wedding-event" id="event">
        <div class="wedding-event-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="header-center">
                            <h2>Wedding Events</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <!-- Sangeet Start -->
            <div class="row padding-right" id="sangeet">
                <div class="col-xs-12 col-md-7 col-sm-7">
                    <figure>
                        <img src="assets/images/garba.png" alt="">
                    </figure>
                </div>
                <div class="col-xs-12 col-md-pull-1 col-md-5 col-sm-pull-2 col-sm-5">
                    <div class="event-description-wrapper">
                        <div class="event-description">
                            <h3><a routerLink="/404" >Sangeet</a></h3>
                            <span class="day-class">Friday, August 6th, 2021</span>
                            <span class="clk-class">6:30 PM</span>
                            <address>
                                <span class="map-class">Deewan Banquet</span>
                                <span class="venue-class">3872, 560 Stelton Rd, Piscataway, NJ 08854</span>
                            </address>
                            <p>
                                Attire : Indian Traditional
                            </p>
                            <!-- <a class="read-more" href="#">Read More<i class="fa fa-angle-right"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sangeet Ends -->
            <!-- Barat start -->
            <div class="row padding-right" id="Barat">
                <div class="col-xs-12 col-md-7 col-sm-7 ">
                    <figure>
                        <img src="assets/images/baraat.png" alt="">
                         <!-- Actual image content is W:450 h: 600 -->
                    </figure>
                </div>
                <!-- <div class="col-xs-12 col-md-5 col-sm-5 push"> -->
                <div class="col-xs-12 col-md-pull-1 col-md-5 col-sm-pull-2 col-sm-5">
                    <div class="event-description-wrapper">
                        <div class="event-description">
                            <h3><a routerLink="/404" href="#">Baraat</a></h3>
                            <span class="day-class">Saturday, August 7, 2021</span>
                            <span class="clk-class">9:30 AM</span>
                            <address>
                                <span class="map-class">Brooklake Country Club</span>
                                <span class="venue-class">139 Brooklake Rd, Florham Park, NJ 07932</span>
                            </address>
                            <p>
                                Attire : Indian Traditional
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Barat End -->
            <!-- Main Ceremony -->
            <div class="row padding-right" id="WeddingCeremony">
                <div class="col-xs-12 col-md-7 col-sm-7">
                    <figure>
                        <img src="assets/images/ceremony.png" alt="">
                    </figure>
                </div>
                <div class="col-xs-12 col-md-pull-1 col-md-5 col-sm-pull-2 col-sm-5">
                    <div class="event-description-wrapper">
                        <div class="event-description">
                            <h3><a routerLink="/404" href="#">Wedding Ceremony</a></h3>
                            <span class="day-class">Saturday, August 7, 2021</span>
                            <span class="clk-class">10:30 AM</span>
                            <address>
                                <span class="map-class">Brooklake Country Club</span>
                                <span class="venue-class">139 Brooklake Rd, Florham Park, NJ 07932</span>
                            </address>
                            <p>
                                Attire : Indian Traditional
                            </p>
                            <!-- <a class="read-more" href="#">Read More<i class="fa fa-angle-right"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Ceremony Ends -->
            <!-- Reception -->
            <div class="row padding-right" id="reception">
                <div class="col-xs-12 col-md-7 col-sm-7 ">
                    <figure>
                        <img src="assets/images/reception.png" alt="macrovector">
                        <!-- <a href="https://www.freepik.com/free-photos-vectors/poster">Poster vector created by macrovector - www.freepik.com</a> -->
                    </figure>
                </div>
                <!-- <div class="col-xs-12 col-md-5 col-sm-5 push"> -->
                <div class="col-xs-12 col-md-pull-1 col-md-5 col-sm-pull-2 col-sm-5">
                    <!-- <div class="event-description-wrapper reception-description-sec"> -->
                    <div class="event-description-wrapper">
                        <div class="event-description">
                            <h3><a routerLink="/404" href="#">Reception</a></h3>
                            <span class="day-class">Saturday, August 7, 2021</span>
                            <span class="clk-class">6:30 PM - 11:30 PM</span>
                            <address>
                                <span class="map-class">Brooklake Country Club</span>
                                <span class="venue-class">139 Brooklake Rd, Florham Park, NJ 07932</span>
                            </address>
                            <p>
                                Attire : Western
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Reception Ends -->
        </div>
    </section>
    <!-- End of Events -->

    <!--RSVP-->
    <app-invitation></app-invitation>
    <!-- RSVP Ends -->
</div>