<app-banner></app-banner> 
<div id="content">
    <!-- happy couple section start here -->
    <section class="happy-couple" id="couple">
        <div class="container">
            <div class="row">
            <div class="col-xs-12">
                <div class="header-center">
                <h2>happy couple</h2>
                </div>
                <div class="bell">
                <img src="assets/external/images/thumb-1.jpg" alt="">
                <div class="inner-header-wrapper-left inner-header-wrapper">
                    <h3><a href="#">Drashti Patel</a></h3>
                    <p>
                        She homero prompta constituam pro. Vim omnis porro eu, iusto deserunt incorrupte sea ad. Aliquam compre hensam definitionem eam ex, ea ius facete nominaviId vim laudem nusquam, mea cu torquatos vituperat ribus, mea tation iisque in. An viris imperdiet mela Causae denique convenire no pri. Diam discere adole cens pri eu, vel dico vidisse disputationi ne. An sea unum iusto quando, id accumsan persecuti ius. Vidisse scaevola ut eam, ne his modo voluptua evertitur.
                    </p>
                    <img src="assets/external/images/cycle-1.png" alt="">
                </div>
                </div>
                <div class="jack">
                <img src="assets/external/images/thumb-2.jpg" alt="">
                <div class="inner-header-wrapper-right inner-header-wrapper">
                    <h3><a href="#">Brijesh Patel</a></h3>
                    <p>
                        He homero prompta constituam pro. Vim omnis porro eu, iusto deserunt incorrupte sea ad. Aliquam compre hensam definitionem eam ex, ea ius facete nominaviId vim laudem nusquam, mea cu torquatos vituperat ribus, mea tation iisque in. An viris imperdiet mela Causae denique convenire no pri. Diam discere adole cens pri eu, vel dico vidisse disputationi ne. An sea unum iusto quando, id accumsan persecuti ius. Vidisse scaevola ut eam, ne his modo voluptua evertitur.
                    </p>
                    <img src="assets/external/images/cycle-2.png" alt="">
                </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!--happy couple section end here -->
    <!--Count-down section start here -->
    <div class="count-down">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="clearfix" id="countdown">
                        <!-- Countdown is configured from site.js using #countdown -->
                        <li>
                            <a href="#">250<span>Days</span></a>
                        </li>
                        <li>
                            <a href="#">00<span>Hours</span></a>
                        </li>
                        <li>
                            <a href="#">00<span>Minutes</span></a>
                        </li>
                        <li>
                            <a href="#">00<span>Seconds</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Count-down section end here -->
    <!-- Events -->
    <section class="wedding-event" id="event">
        <div class="wedding-event-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="header-center">
                            <h2>Wedding Events</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <!-- Sangeet Start -->
            <div class="row padding-right" id="sangeet">
                <div class="col-xs-12 col-md-7 col-sm-7">
                    <figure>
                        <img src="assets/images/garba.png" alt="" style="height: 650px; width: 600px;">
                    </figure>
                </div>
                <div class="col-xs-12 col-md-pull-1 col-md-5 col-sm-pull-2 col-sm-5">
                    <div class="event-description-wrapper">
                        <div class="event-description">
                            <h3><a routerLink="/404" >Sangeet</a></h3>
                            <span class="day-class">Friday, July 31, 2020</span>
                            <span class="clk-class">6:30 PM - 10:30 PM</span>
                            <address>
                                <span class="map-class">Deewan Banquet</span>
                                <span class="venue-class">3872, 560 Stelton Rd, Piscataway, NJ 08854</span>
                            </address>
                            <p>
                                To Be Edited.
                            </p>
                            <!-- <a class="read-more" href="#">Read More<i class="fa fa-angle-right"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sangeet Ends -->
            <!-- Barat start -->
            <div class="row padding-right" id="Barat">
                <div class="col-xs-12 col-md-5 col-sm-5 push">
                    <div class="event-description-wrapper reception-description-sec">
                        <div class="event-description">
                            <h3><a routerLink="/404" href="#">Baraat</a></h3>
                            <span class="day-class">Saturday, August 1, 2020</span>
                            <span class="clk-class">9:30 AM - 10:00 AM</span>
                            <address>
                                <span class="map-class">Brooklake Country Club</span>
                                <span class="venue-class">139 Brooklake Rd, Florham Park, NJ 07932</span>
                            </address>
                            <p>
                                Attire : Indian Traditional
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-7 col-sm-7 ">
                    <figure>
                        <img src="assets/images/baraatEdited.png" alt="" style="height: 650px; width: 600px;">
                    </figure>
                </div>
            </div>
            <!-- Barat End -->
            <!-- Main Ceremony -->
            <div class="row padding-right" id="WeddingCeremony">
                <div class="col-xs-12 col-md-7 col-sm-7">
                    <figure style="width: 580px;">
                        <img src="assets/images/weddingEdited.png" alt="">
                        <!-- style="height: 550px; width: 490px;" -->
                    </figure>
                </div>
                <div class="col-xs-12 col-md-pull-1 col-md-5 col-sm-pull-2 col-sm-5">
                    <div class="event-description-wrapper">
                        <div class="event-description">
                            <h3><a routerLink="/404" href="#">Wedding Ceremony</a></h3>
                            <span class="day-class">Saturday, August 1, 2020</span>
                            <span class="clk-class">10:00 AM - 01:00 PM</span>
                            <address>
                                <span class="map-class">Brooklake Country Club</span>
                                <span class="venue-class">139 Brooklake Rd, Florham Park, NJ 07932</span>
                            </address>
                            <p>
                                Attire : Indian Traditional
                            </p>
                            <!-- <a class="read-more" href="#">Read More<i class="fa fa-angle-right"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Ceremony Ends -->
            <!-- Reception -->
            <div class="row padding-right" id="reception">
                <div class="col-xs-12 col-md-5 col-sm-5 push">
                    <div class="event-description-wrapper reception-description-sec">
                        <div class="event-description">
                            <h3><a routerLink="/404" href="#">Reception</a></h3>
                            <span class="day-class">Saturday, August 1, 2020</span>
                            <span class="clk-class">6:30 PM - 11:30 PM</span>
                            <address>
                                <span class="map-class">Brooklake Country Club</span>
                                <span class="venue-class">139 Brooklake Rd, Florham Park, NJ 07932</span>
                            </address>
                            <p>
                                Attire : Western
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-7 col-sm-7 ">
                    <figure>
                        <img src="assets/images/reception2Edited.png" alt="macrovector" style="height: 600px; width: 800px;" >
                        <!-- <a href="https://www.freepik.com/free-photos-vectors/poster">Poster vector created by macrovector - www.freepik.com</a> -->
                    </figure>
                </div>
            </div>
            <!-- Reception Ends -->
        </div>
    </section>
    <!-- End of Events -->

    <!--RSVP-->
    <app-invitation></app-invitation>
    <!-- RSVP Ends -->
</div>