<div id="loading">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_four"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_one"></div>
    </div>
  </div>
</div>
<div id="wrapper" class="home">
  <app-header></app-header>
  <!-- <div *ngIf="showBanner">
    <app-banner></app-banner>
  </div> -->
  <!-- <app-banner></app-banner> -->
  <!-- <router-outlet  name="banner"></router-outlet> -->
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>