<footer id="footer">
    <div class="primary-footer">
        <div class="container">
        <div class="row">
            <div class="col-xs-12">
            <div class="footer-logo">
                <figure>
                <img src="assets/external/images/footer-img.png" alt="">
                </figure>
                <h4>Brijesh<span>&amp;</span>Drashti</h4>
                <span class="oct-class">August 7, 2021</span>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="main-footer">
        <div class="container">
        <div class="row">
            <div class="left-footer">
            <span class="psd-temp-class">Join us and be part of our memories&nbsp;<i class="fa fa-heart"> </i>&nbsp;<a class="macro-class" href="#">Brishti</a></span>
            </div>
            <div class="right-footer">
            <!-- <a href="#" class="circle-class"><i class="fa fa-facebook"> </i></a> -->
            <!-- <a href="#" class="circle-class"><i class="fa fa-twitter"> </i></a> -->
            <a href="https://www.instagram.com/brijeshanddrashti/" class="circle-class"><i class="fa fa-instagram"> </i></a>
            <!-- <a href="#" class="circle-class"><i class="fa fa-pinterest"> </i></a> -->
            </div>
        </div>
        </div>
    </div>
</footer>