<!--banner Section start-->
<section class="banner">
    <div id="rev_slider_wrapper">
        <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
        <div id="slider1" class="rev_slider">
        <ul>
            <!-- SLIDE  -->
            <li data-transition="boxslide">
                <!-- MAIN IMAGE -->
                <img src="assets/images/test.jpg"  alt="">
                <!-- LAYERS -->
                <!-- <div class="banner-content-wrapper">
                  
                    <div class="tp-caption NotGeneric-Title   tp-resizeme"
                    id="slide-398-layer-4"
                    data-x="center" data-hoffset=""
                    data-y="center" data-voffset="60"
                    data-width="['auto','auto','auto','auto']"
                    data-height="['auto','auto','auto','auto']"
                    data-transform_idle="o:1;"

                    data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="1500"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"

                    style="">
                        <img alt="#" src="assets/external/images/img-design.png">
                    </div>
                   
                    <div class="tp-caption NotGeneric-Title   tp-resizeme title-head"
                    id="slide-396-layer-5"
                    data-x="center" data-hoffset=""
                    data-y="center" data-voffset="90"
                    data-width="['auto','auto','auto','auto']"
                    data-height="['auto','auto','auto','auto']"
                    data-transform_idle="o:1;"

                    data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="1300"
                    data-splitin="chars"
                    data-splitout="none"
                    data-responsive_offset="on"

                    data-elementdelay="0.05"

                    style="font-size: 60px; color:#433e3e; line-height: 1.4; text-transform: uppercase; letter-spacing: 5px;  font-family: 'Roboto', sans-serif; font-weight: 500">
                        <h1 class="head-text">Drashti <span>&amp;</span> Brijesh</h1>
                    </div>

                  
                    <div class="tp-caption BigBold-Button rev-btn "
                    id="slide-396-layer-6"
                    data-x="center" data-hoffset=""
                    data-y="bottom" data-voffset="40"
                    data-width="['auto']"
                    data-height="['auto']"
                    data-transform_idle="o:1;"
                    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"

                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="s:1000;s:1000;"
                    data-start="3000"
                    data-splitin="none"
                    data-splitout="none"
                    data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                    data-responsive_offset="on"
                    data-responsive="off"

                    style="font-size: 14px;  color:#774f38;">
                        <span>August 1, 2020</span>
                    </div>
                </div> -->
            </li>

            <!-- SLIDE  -->
            <li data-transition="curtain-1">
                <!-- MAIN IMAGE -->
                <img src="assets/images/test2.jpg" alt="">
                <!-- LAYERS -->
                <!-- <div class="banner-content-wrapper">
                    
                    <div class="tp-caption NotGeneric-Title   tp-resizeme"
                    id="slide-398-layer-7"
                    data-x="center" data-hoffset=""
                    data-y="center" data-voffset="60"
                    data-width="['auto','auto','auto','auto']"
                    data-height="['auto','auto','auto','auto']"
                    data-transform_idle="o:1;"

                    data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="1500"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"

                    style="">
                        <img alt="#" src="assets/external/images/img-design.png">
                    </div>
                
                    <div class="tp-caption NotGeneric-Title   tp-resizeme title-head"
                    id="slide-396-layer-8"
                    data-x="center" data-hoffset=""
                    data-y="center" data-voffset="90"
                    data-width="['auto','auto','auto','auto']"
                    data-height="['auto','auto','auto','auto']"
                    data-transform_idle="o:1;"

                    data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="1300"
                    data-splitin="chars"
                    data-splitout="none"
                    data-responsive_offset="on"

                    data-elementdelay="0.05"

                    style="font-size: 60px; color:#433e3e; line-height: 1.4; text-transform: uppercase; letter-spacing: 5px;  font-family: 'Roboto', sans-serif; font-weight: 500">
                        <h1 class="head-text">Drashti <span>&amp;</span> Brijesh</h1>
                    </div>
                    <div class="tp-caption BigBold-Button rev-btn "
                    id="slide-396-layer-9"
                    data-x="center" data-hoffset=""
                    data-y="bottom" data-voffset="40"
                    data-width="['auto']"
                    data-height="['auto']"
                    data-transform_idle="o:1;"
                    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"

                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="s:1000;s:1000;"
                    data-start="3000"
                    data-splitin="none"
                    data-splitout="none"
                    data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                    data-responsive_offset="on"
                    data-responsive="off"

                    style="font-size: 14px;  color:#774f38;">
                        <span>August 1, 2020</span>
                    </div>
                </div> -->
            </li>

            <!-- SLIDE  -->
            <li data-transition="3dcurtain-horizontal">
                <!-- MAIN IMAGE -->
                <img src="assets/images/test3.jpg"  alt="">
                <!-- LAYERS -->
                <!-- <div class="banner-content-wrapper">
                  
                    <div class="tp-caption NotGeneric-Title   tp-resizeme"
                    id="slide-398-layer-10"
                    data-x="center" data-hoffset=""
                    data-y="center" data-voffset="60"
                    data-width="['auto','auto','auto','auto']"
                    data-height="['auto','auto','auto','auto']"
                    data-transform_idle="o:1;"

                    data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="1500"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"

                    style="">
                        <img alt="#" src="assets/external/images/img-design.png">
                    </div>
                
                    <div class="tp-caption NotGeneric-Title   tp-resizeme title-head"
                    id="slide-396-layer-11"
                    data-x="center" data-hoffset=""
                    data-y="center" data-voffset="90"
                    data-width="['auto','auto','auto','auto']"
                    data-height="['auto','auto','auto','auto']"
                    data-transform_idle="o:1;"

                    data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="1300"
                    data-splitin="chars"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-elementdelay="0.05"
                    style="font-size: 60px; color:#433e3e; line-height: 1.4; text-transform: uppercase; letter-spacing: 5px; font-family: 'Roboto', sans-serif; font-weight: 500">
                        <h1 class="head-text">Drashti <span>&amp;</span> Brijesh</h1>
                    </div>

                
                    <div class="tp-caption BigBold-Button rev-btn "
                    id="slide-396-layer-12"
                    data-x="center" data-hoffset=""
                    data-y="bottom" data-voffset="40"
                    data-width="['auto']"
                    data-height="['auto']"
                    data-transform_idle="o:1;"
                    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="s:1000;s:1000;"
                    data-start="3000"
                    data-splitin="none"
                    data-splitout="none"
                    data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                    data-responsive_offset="on"
                    data-responsive="off"
                    style="font-size: 14px;  color:#774f38;">
                        <span>August 1, 2020</span>
                    </div>
                </div> -->
            </li>
        </ul>
        </div>
    </div>
    </section>
    <!--banner Section End-->